<!DOCTYPE html>
<html>
<head>
<title>CRBVision</title>
   <style> 
    .large-font {
      font-size: 24px; /* Adjust this value according to your desired font size */
    }
   </style>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
</head>



<body>
<h1>Welcome To CRB Delineation Website!</h1>
<hr/>
<a href="https://www.crbvision.net/today" target="_blank" class="large-font">Just Today's Images</a> 
<hr/>
<a href="https://www.crbvision.net/yesterday" target="_blank" class="large-font">Yesterday's Images</a> 

</a>
</body>
</html>

